NEXT_PUBLIC_SUPABASE_URL=__your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=__your_supabase_anon_key
SUPABASE_PROJECT_ID=__your_project_id_here__
SUPABASE_PROJECT_PASSWD=__your_project_password_here__
